.main-logo {
    width: 250px;
}

:root {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    /* Colors */
    --main-color: #007bff;
    --main-bg-color: #f8f9fa;
    --main-bg-color-dark: #343a40;
    --main-text-color: #333;
    --main-text-color-light: #fff;
    --main-text-color-dark: #000;
    --main-border-color: #007bff;
    --main-border-color-light: #f8f9fa;
    --main-border-color-dark: #343a40;
    --main-border-radius: 0.25rem;
    --main-box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
    --main-transition: all 0.3s ease;

    /* Font Sizes */
    --main-font-size-xxs: 0.5rem;
    --main-font-size-xs: 0.75rem;
    --main-font-size-sm: 0.875rem;
    --main-font-size-md: 1rem;
    --main-font-size-lg: 1.25rem;
    --main-font-size-xl: 1.5rem;
    --main-font-size-xxl: 2rem;
    --main-font-size-xxxl: 3rem;
    --main-font-size-xxxxl: 4rem;

    /* Font Weights */
    --main-font-weight-light: 300;
    --main-font-weight-normal: 400;
    --main-font-weight-bold: 700;
    --main-font-weight-bolder: 900;

    /* Line Heights */
    --main-line-height-xs: 1;
    --main-line-height-sm: 1.25;
    --main-line-height-md: 1.5;
    --main-line-height-lg: 1.75;
    --main-line-height-xl: 2;
    --main-line-height-xxl: 2.5;
    --main-line-height-xxxl: 3;
    --main-line-height-xxxxl: 4;

    /* Spacing */
    --main-spacing-xxs: 0.25rem;
    --main-spacing-xs: 0.5rem;
    --main-spacing-sm: 0.75rem;
    --main-spacing-md: 1rem;
    --main-spacing-lg: 1.25rem;
    --main-spacing-xl: 1.5rem;
    --main-spacing-xxl: 2rem;
    --main-spacing-xxxl: 3rem;
    --main-spacing-xxxxl: 4rem;

    body {
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        font-size: var(--main-font-size-md);
        font-weight: var(--main-font-weight-normal);
        line-height: var(--main-line-height-md);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex-grow: 1;
        height: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: var(--main-spacing-md) 0;
        font-weight: var(--main-font-weight-bold);
        line-height: var(--main-line-height-lg);
    }

    p {
        margin: var(--main-spacing-sm) 0;
    }

    a {
        color: var(--main-color);
        text-decoration: none;
        transition: var(--main-transition);
    }   

    a:hover {
        color: var(--main-color);
        text-decoration: none;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 var(--main-spacing-md);
    }

    .btn {
        display: inline-block;
        padding: var(--main-spacing-sm) var(--main-spacing-md);
        margin: var(--main-spacing-xs);
        border: 1px solid var(--main-border-color);
        border-radius: var(--main-border-radius);
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        font-size: var(--main-font-size-sm);
        font-weight: var(--main-font-weight-bold);
        line-height: var(--main-line-height-sm);
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        transition: var(--main-transition);
    }

    .btn:hover {
        background-color: var(--main-color);
        color: var(--main-text-color-light);
    }

    .btn-primary {
        background-color: var(--main-color);
        color: var(--main-text-color-light);
    }

    .btn-primary:hover {
        background-color: var(--main-color);
        color: var(--main-text-color-light);
    }
}


.footer {
    background-color: var(--main-bg-color-dark);
    color: var(--main-text-color-light);
    text-align: center;
    padding: var(--main-spacing-md) 0;
}