.main-logo {
    width: 250px;
}

:root {
    padding: 0;
    margin: 0;
    font-family: 'Martel', sans-serif;
    font-size: 16px;

    /* Colors */
    --main-color: #ffa62b;
    --main-bg-color: #dadada;
    --main-bg-color-dark: #16697a;
    --main-text-color: #3f3f3f;
    --main-text-color-light: #f3f3f3;
    --main-text-color-dark: #3f3f3f;
    --main-border-color: #82c0cc;
    --main-border-color-light: #f8f9fa;
    --main-border-color-dark: #343a40;
    --main-border-radius: 0.25rem;
    --main-box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
    --main-transition: all 0.3s ease;

    /* Font Sizes */
    --main-font-size-sm: 0.875rem;
    --main-font-size-md: 1rem;
    --main-font-size-lg: 1.25rem;
    --main-font-size-xl: 1.5rem;
    --main-font-size-xxl: 2rem;

    /* Font Weights */
    --main-font-weight-light: 300;
    --main-font-weight-normal: 400;
    --main-font-weight-bold: 700;
    --main-font-weight-bolder: 900;

    /* Line Heights */

    --main-line-height-sm: 1.25;
    --main-line-height-md: 1.5;
    --main-line-height-lg: 1.75;
    --main-line-height-xl: 2;
    --main-line-height-xxl: 2.5;


    /* Spacing */

    --main-spacing-sm: 0.75rem;
    --main-spacing-md: 1rem;
    --main-spacing-lg: 1.25rem;
    --main-spacing-xl: 1.5rem;
    --main-spacing-xxl: 2rem;


    body {
        position: relative;
        height: 100%;
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        font-size: var(--main-font-size-md);
        font-weight: var(--main-font-weight-normal);
        line-height: var(--main-line-height-md);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex-grow: 1;
        height: 100%;
    }

    h1, h2 {
        font-family: "Exo", sans-serif;
        font-size: 
        margin: var(--main-spacing-md) 0;
        font-weight: var(--main-font-weight-bold);
        line-height: var(--main-line-height-lg);
    }


    h3, h4, h5, h6 {
        font-family: "Dosis", sans-serif;
        margin: var(--main-spacing-md) 0;
        font-weight: var(--main-font-weight-bold);
        line-height: var(--main-line-height-lg);
    }

    p {
        font-family: "Martel", serif;
        margin: var(--main-spacing-sm) 0;
    }

    a {
        font-family: "Martel", serif;
        color: var(--main-color);
        text-decoration: none;
        transition: var(--main-transition);
    }   

    a:hover {
        color: var(--main-color);
        text-decoration: none;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 var(--main-spacing-md);
    }

    .btn {
        display: inline-block;
        padding: var(--main-spacing-sm) var(--main-spacing-md);
        margin: var(--main-spacing-xs);
        border: 1px solid var(--main-border-color);
        border-radius: var(--main-border-radius);
        background-color: var(--main-bg-color);
        color: var(--main-text-color);
        font-size: var(--main-font-size-sm);
        font-weight: var(--main-font-weight-bold);
        line-height: var(--main-line-height-sm);
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        transition: var(--main-transition);
    }

    .btn:hover {
        background-color: var(--main-color);
        color: var(--main-text-color-light);
    }

    .btn-primary {
        background-color: var(--main-color);
        color: var(--main-text-color-light);
    }

    .btn-primary:hover {
        background-color: var(--main-color);
        color: var(--main-text-color-light);
    }
}

.nav {
    background-color: var(--main-bg-color-dark);
    color: var(--main-text-color-light);
    padding: var(--main-spacing-sm) 0;

    .selector-login{
        color: var(--main-color);
        & a:hover{
            color: var(--main-text-color-light)!important;
        }
    }

    .navbar-toggler {
        color: var(--main-text-color-light)!important
        border-shadow: none;
        border: none;
    }
}

.footer {
    background-color: var(--main-bg-color-dark);
    color: var(--main-text-color-light);
    text-align: center;
    padding: 50px;
}

.form-container{
    max-width: 1200px;
    padding: 60px 40px;
    height: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    &.centered-selector{
        align-items: center;
    }
}

swiper-container {
    width: 100%;
    height: 100%;
    z-index: 0;
  }

swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
}

swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.search-form-container{

    width: 100%;
    display: flex;
    justify-content: center;
   
    margin-top: -60px;
    z-index: 10;
    position: relative;

    margin-bottom: 40px;
   
    & .search-form{
        display: flex; 
        align-items: center;
        max-width: 1200px;
        justify-content: space-around;
        width: 100%;
        background-color: var(--main-bg-color-dark);
        padding: 40px;
        color: #ffa62b;
        border-radius: 5px;
     }
}

.detail-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 40px;
}

.centered-container{
    width: 100%;
    display: flex;
    justify-content: center
}

.container.userpage-container{
    padding: 40px;
}