{% extends 'layouts/base.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if inmueble %}
    <div class="centered-container">
        <div class="form-container detail">
            {% include "components/detalleInmuebleCard.html" %}
        </div>
    </div>
    {% endif %}
{% endblock content %}

