{% extends 'layouts/secondary.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="centered-container">
        <div class="form-container">
            <h1>¡Hola! Por favor, ingresa tu dirección de<br> correo electrónico y tu contraseña.</h1>
            <form method="post" >
                {% csrf_token %}
                {% crispy form %}
                <a href="{% url 'seleccionarUsuario' %}">¿Aún no te has registrado?</a>
            </form>
        </div>
    </div>
{% endblock content %}