{% load static %}
<footer class="footer">
  <!-- Section: Social media -->
  <div class="social">
    <!-- Instagram -->
    <a href="#">{% comment %} <img src="{% static 'images/instagram.svg' %}" alt="instagram" /> {% endcomment %}</a>
    <!-- Twitter -->
    <a href="#">{% comment %} <img src="{% static 'images/twitter.svg' %}" alt="twitter" /> {% endcomment %}</a>

    <!-- Section: Social media -->
  </div>

  <!-- Copyright -->
  <div class="copyright">
    <p>
      Genzee © 2024. Sitio desarrollado por <a href="https://www.linkedin.com/in/alvaro-acevedo-ing/">The_Fullstack</a>
    </p>
  </div>
  <!-- Copyright -->
</footer>
