{% load static %}
<nav class="nav bg-main-color sticky-top">
  <div class="navbar container sticky-top navbar-expand-md">

    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "home"%}"><img class='main-logo' src="{% static 'images/logo_horizontal.png' %}" alt=""></a>
      <button class="navbar-toggler font-color-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3">
            {% if not user.is_authenticated %}
              <li class="selector-login d-flex align-items-center">
                <a class="" aria-current="page" href="{% url "login"%}">Ingresar</a> <p class="px-2">|</p> <a class="" href="{% url 'seleccionarUsuario' %}">Crear una cuenta</a>
              </li>
            {% else %}
              <li class="selector-login nav-item ps-5  d-flex align-items-center">
                <a class="nav-link" href="{% url 'redirigirPanel' %}">Hola, {{ user.nombre | capfirst }}</a>
     
           
                <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                  {% csrf_token %}
                </form>
                <p class="px-2">|</p>
                <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                   Cerrar sesión
                </a>
              </li>          
            {% endif %}

          </ul>
          <div class="d-flex" role="search">
            <button id="publicar-propiedad" class="btn btn-outline-success" type="button">Publicar mi propiedad</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById('publicar-propiedad').addEventListener('click', function() {
    {% if user.is_authenticated %}
      {% if user.es_arrendador %}
        window.location.href = "{% url 'panelArrendador' %}";
      {% else %}
        alert("Estás en tu sesión de arrendador. Por favor, cambia a tu sesión de arrendatario.");
      {% endif %}
    {% else %}
      window.location.href = "{% url 'login' %}";
    {% endif %}
  });
</script>